{% extends 'base.html' %}

{% block contents %}
        <a href="{% url 'todos-label-create' %}" class="btn btn-outline-success"> Create New Label </a>
        <hr/>

    {% if object_list %}
    <div>
            <ul class="list-group checked-list-box">
                {% for label in object_list %}
                  <a href="{% url 'todos-label-detail' label.id %}" class="list-item">
                    <li class="list-group-item" data-checked="true">
                        {{label.title}} 
                        <small class="float-right">
                            <a href="{% url 'todos-list' %}"> Todos:
                                <span class="badge badge-default">{{label.todo_set.count}}</span> 
                            </a>
                            <span>| {{label.updated_on|timesince}}
                        </small>
                    </li>
                    </a>
                {% endfor %}   
            </ul>
        
    {% else %}  
        <h5>
            No <b>Todolist</b> Added Yet....
            <a href="{% url 'todos-label-create' %}"> Click me to Add </a> 
            New Label to get Started
        </h5>
    {% endif %}
{% endblock contents %}