{% extends 'base.html' %}

{% block contents %}
    {% if object_list %}
        <div class="well" style="max-height: 600px; overflow: auto;">
            <ul class="list-group checked-list-box">
                {% for todo in object_list %}
                  <a href="{% url 'todos-detail' todo.id %}" class="list-item">
                    <li class="list-group-item" data-checked="true">
                      
                        {{todo.title}} 
                        
                        <small class="float-right"><span class="badge badge-default"> {{todo.label}} </span> <span>| {{todo.updated_on|timesince}}</small>
                    </li>
                    </a>
                {% endfor %}   
            </ul>
        </div>
    {% else %}  
        <h5>
            No <b>Todolist</b> Added Yet....
            <a href="{% url 'todos-create-label' %}"> Click me to Add </a> 
            New Label to get Started
        </h5>
    {% endif %}
{% endblock contents %}