{% extends 'base.html' %}

{% block contents %}
  {% if object %}
    <ul class="list-group card">
        <li class="list-group-item">
            <div class="card-header">   
                  <h4>
                    
                    {% if object.status %}
                     <strike>{{object.title}}</srike> | <span class="badge badge-success">Completed</span>
                    {% else %}
                        
                    {% endif %}
                </h4>
            </div>
            <div class="col_md_2_list card-body">
                <p>{{object.description}}</p>
            </div>
            <div class="card-footer">
                <div class="cont_text_date">
                    <p>
                        <span>
                        <b>Created:</b>
                        <span class="badge badge-default">{{object.created_on|timesince}} Ago</span>  |
                        {{object.label}} 
                        </span>
                       
                        <span class="float-right">

                            <a href="{% url 'todos-update' object.pk %}" class="btn-success btn-sm">Edit</a>
                            <a href="{% url 'todos-delete' object.pk %}" class="btn-danger btn-sm">Delete</a>
                             {% if object.status %}
                                <a href="{% url 'todos-is-completed' object.pk 0 %}" class="btn-info btn-sm">Mark as not Done</a>
                            {% else %}
                                 <a href="{% url 'todos-is-completed' object.pk 1 %}" class="btn-info btn-sm">Mark as  Done</a>
                            {% endif %}
                        </span>
                    </p>
                    <p >
                       
                    </p>     
                </div>    
        
            </div>
        </li>
    </ul>
{% else %}
    <h5>
        No <b>Todolist</b> Added Yet....
        <a href="{% url 'todos-create-label' %}"> Click me to Add </a> 
        New Label to get Started
    </h5>
{% endif %}
{% endblock contents %}